*{
	padding:0px;
     margin:0px;
}
.middle{
	width:90vw
}

#table-2{
	height:20vh
}
#table-3{
	height:50vh
		}

.green{
	background-color:green;
}
 .blue{
	 background-color:blue
 }
	


.container{
	margin-bottom:20px
}
.center{
	text-align:center;
}