table,th,td{
	border:1px solid black;
	padding:1px;
	width:400px
}
#table-1{
	margin-bottom:5px;
}

#table-2{
	margin-bottom:5px;
}
.green{
	background-color:green;
}

.red{
	background-color:red;
}

#t-image{
	height:100px;
	width:100px;
	
}

.center{
	text-align:center;
}
.right{
	text-align:right;
}